<!DOCTYPE html>
<html>
<head>
<title>XIC: ${mz_center} m/z</title>
<link rel="icon" type="image/png" href="${xicico}">
<script src="${javascript}/browsertest.js"></script>
<script src="${javascript}/dygraph-combined-test.js"></script>
</head>
<body>
<center>
<table id="the_table">
<tr>
<td align="center">XIC: ${mz_center} m/z</td><div style="display:none;" id="labels" ></div></td>
</tr>
<tr>
<td><div id="graphdiv" style="width:640px; height:480px;">
<img src='${pnglink}'/>

</div></td>
</tr>
<tr>
<td height="5">
</td>
</tr>
<tr>
<td align="center">
<div id="usagetip" style="font-family: arial, sans-serif; font-size:0.6em;">
* upgrading to FF/Chrome/Safari/IE9 enables better graphics, zoom and scan click-through capabilities...<a href='http://blaispathways.dfci.harvard.edu/mzServer/apps/mzServer_ASMS2010.pdf'>Examples</a>

</div>
</td>
</tr>
</table>
</center>
<script type="text/javascript">
if(canvascheck){

g = new Dygraph(document.getElementById('graphdiv'),'${data}',{labelsDiv: document.getElementById("labels"),labelsKMB: true,
                clickCallback: function(e, x, pts) {
                    window.open('${rurl_link}'+ x + '${ctype}') ;
                },

});
document.getElementById('usagetip').innerHTML="left-drag to zoom, left-click to open individual scans" ;

}
</script>
</body>
</html>
