<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<title>${title}</title>
<link rel="icon" type="image/png" href="${ico}">
<script src="${javascript}/browsertest.js"></script>
<script src="${javascript}/canvastext.js"></script>
<script src="${javascript}/mzgraph.js"></script>
<script src="${javascript}/mzgraph-canvas.js"></script>
</head>
<body>
<center>
<table id="the_table">
<tr>
<td align="center">${title}</td>
</tr>
<tr>
<td><div id="graphdiv" style="width:640px; height:480px;"></div></td>
</tr>
<tr>
<td height="5">
</td>
</tr>
<tr>
<td  align="center">
<input type="button" value="prev ms1" onClick="window.location='${prev_ms1_link}'">
<input type="button" value="prev scan" onClick="window.location='${prev_scan_link}'">
<input type="button" value="XIC" ${disabled} onClick="window.location='${ric_link}'">
<input type="button" value="next scan" onClick="window.location='${next_scan_link}'">
<input type="button" value="next ms1" onClick="window.location='${next_ms1_link}'">
</td>
</tr>
<tr>
<td height="5">
</td>
</tr>
<tr>
<td align="center">
<div id="usagetip" style="font-family: arial, sans-serif; font-size:0.6em;">
left-drag to zoom, left-click to generate an XIC
</div>
</td>
</tr>
</table>
<script type="text/javascript">
if(svgcheck){
                g = new MZgraph(document.getElementById("graphdiv"), "${data}", {
                labelsDivWidth: 125, labelsKMB: true,
                labelsSeparateLines: true,
                mz_zs: "${zs}",
                clickCallback: function(e, x, pts) {
                                    base = '${ric_last_slash}' ;
                                    ctype = '${ctype}' ;
                                    mz_start = x - 0.01 ;
                                    mz_start = mz_start.toFixed(3) ;
                                    mz_start = mz_start.toString() ;
                                    mz_stop = x + 0.01 ;
                                    mz_stop = mz_stop.toFixed(3) ;  
                                    mz_stop = mz_stop.toString() ;
                                    window.open(base +  mz_start + "-" + mz_stop + ctype) ;
                                }
                }
                );
}else{
document.getElementById("graphdiv").innerHTML = "<img style='width:640px; height:480px;' src='${pnglink}'/>" ;
document.getElementById('usagetip').innerHTML="* upgrading to FF/Chrome/Safari/IE9 enables better graphics, zoom and XIC generation capabilities...<a href='http://blaispathways.dfci.harvard.edu/mzServer/apps/mzServer_ASMS2010.pdf'>Examples</a>" ;
document.getElementById('the_table').deleteRow(0) ;
}
</script>
</center>
</body>
</html>
